# Database
DATABASE_URL=

# Security
SECRET_KEY=
ALGORITHM=
ACCESS_TOKEN_EXPIRY_MINUTES=
SIGNUP_TOKEN_EXPIRY_MINUTES=
RESET_PASSWORD_TOKEN_EXPIRY_MINUTES=

# Email
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_FROM=
MAIL_FROM_NAME=
MAIL_SERVER=
MAIL_PORT=
MAIL_STARTTLS=
MAIL_SSL_TLS=